<footer class="background-1 color-8 py-3 fs--1 fw-600 font-heading">
                <div class="container">

                    <p class="font-1 fs--1">Flow Garden is a project of the Flow team and the Mobile Sensing lab, with particular efforts from Kevin Chien,
                    Mahesh Murag, Jonathan Lin, Kanaad Parvate, and Eugene Vinitsky. For more about our work on optimizing mixed-autonomy traffic,
                    visit <a href="https://flow-project.github.io">our website.</a></p>

                    <div class="row align-items-center">
                        <div class="col-auto font-1">&copy; 2019 Mobile Sensing Lab</div>
                        <div class="col fs-0 text-right">
                            <a class="p-2 color-8"  target="_blank" href="https://twitter.com/BerkeleyMsl">
                                <i class="fa fa-twitter"></i>
                            </a>
                            <a class="p-2 color-8"  target="_blank" href="mailto:flow.berkeley@gmail.com">
                                <i class="fa fa-envelope"></i>
                            </a>
                            <a class="p-2 color-8"  target="_blank" href="https://groups.google.com/forum/#!forum/flow-dev">
                                <i class="fa fa-google"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </footer>
            
            </main>
            <!--  -->
            <!--    JavaScripts-->
            <!--    =============================================-->
            <script src="../assets/lib/jquery/dist/jquery.js"></script>
            <script src="../assets/lib/bootstrap/dist/js/bootstrap.min.js"></script>
            <script src="../assets/js/core.js"></script>
            <script src="../assets/js/main.js"></script>
        </body>
    </html>

