<% include ../partials/header %>

<section class="font-1 p-4">
  <div class="container">
    <h1 class="font-1"><%= message %></h1>
    <h2 class="font-1"><%= error.status %></h2>
    <pre><%= error.stack %></pre> <!-- TODO: remove error stack -->
  </div>
  <!--/.container-->
</section>

<% include ../partials/footer %>