<% include ../partials/header %>

<!-- About -->
<section id="about" class="my-8 font-sans container max-w-xl m-auto flex flex-col md:flex-row sm:items-center">
  <div class="w-full md:w-1/2 flex flex-col justify-center items-start px-6 py-0 md:py-8 md:px-8 lg:items-start">
    <label for="tagline" class="uppercase tracking-wide text-grey-dark font-bold">About</label>
    <h1 class="mt-2 mb-4 font-medium">Solving traffic together on Flow Garden.</h1>
    <p class="leading-normal mb-4 text-grey-dark">Flow Garden is a new way to create, share, and compete on benchmarks for traffic control. Find existing benchmarks and
       share your solutions to them, or create your own new benchmarks!</p>
  </div>
  <div class="w-full md:w-1/2 flex flex-col sm:flex-row md:flex-col justify-between md:justify-center items-center p-2 md:p-8 items-center md:items-start">
    <div class="flex items-center mb-3">
      <div class="w-14 h-14 rounded-full mr-4 bg-grey-light" alt="Solutions Picture"></div>
      <div class="">
        <h2 class="text-black font-medium">Submit solutions.</h2>
        <p class="text-grey-dark leading-normal">Flow Garden makes it easy to submit your benchmark solutions for the world to see. Write up a controller, submit it, and share a link to your paper or solution!</p>
      </div>
    </div>
    <div class="flex items-center ">
      <div class="w-14 h-14 rounded-full mr-4 bg-grey-light" alt="Benchmarks Picture"></div>
      <div class="">
        <h2 class="text-black font-medium">Submit your own benchmarks.</h2>
        <p class="text-grey-dark leading-normal">Want to draw attention to an understudied traffic task? Submit a benchmark via PR, add a description and a video, and it's up and running for other researchers to use!</p>
      </div>
    </div>
  </div>
</section>

<!-- Benchmark Cards -->
<section id="benchmarks" class="my-8 font-sans container max-w-xl m-auto flex flex-col md:flex-row sm:items-center">
  <div class="w-full md:w-1/2 flex flex-col justify-center items-start px-6 py-0 md:py-8 md:px-8 lg:items-start">
    <label for="tagline" class="uppercase tracking-wide text-grey-dark font-bold">Benchmarks</label>
  </div>
</section>
<section class="bg-white py-4 font-sans">
  <div class="container max-w-xl m-auto flex flex-wrap items-center justify-start">
    <% benchmarks.forEach(function(benchmark){ %>
      <div class="w-full mb-8 px-3">
        <div class="overflow-hidden bg-white rounded-lg shadow hover:shadow-raised hover:translateY-2px transition
        p-2 flex flex-col md:flex-row ">
          <!--<img class="w-full" src="https://stitches-cdn.hyperyolo.com/demo-bg.png" alt="Sunset in the mountains">-->
          <div class="">
            <iframe class="w-full md:w-auto"
                    src="https://www.youtube.com/embed/<%= benchmark.yt_string%>">
            </iframe>
            <!-- <ol class="w-full">
              <li>flow-project: 3000</li>
              <li>flow-bro: 2000</li>
              <li>PPO-agent: 1000</li>
            </ol> -->
          </div>
          <div class="p-6 flex flex-col justify-between w-full">
            <h3 class="font-medium text-grey-darkest mb-4 leading-normal"><%= benchmark.name %></h3>
            <p class="inline-flex items-center">
              <%= benchmark.description %>
            </p>
            <a href="/benchmark/<%= benchmark.id %>">
              <button class="bg-transparent hover:bg-black text-grey-dark font-semibold hover:text-white py-2 px-4 mt-3 border border-black hover:border-transparent">Leaderboard</button>
            </a>
          </div>
        </div>
      </div>
    <%  })  %>
  </div>
</section>
 
<% include ../partials/footer %>
